
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="3" name="Suite" parallel="none">
  <test name="Test1">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="test.java.XeroTests">
      <methods>
               
              
                <include name="LoginToXeroIncorrectUN"/>
                <include name="LoginToXeroLogout"/>
                <include name="LoginToXero"/>
                <include name="LoginToXeroForgotPw"/>
                <include name="LoginToXeroIncorrectPW"/>
                <include name="TryXeroAllEmpty"/>
                 <include name="TryXeroFullOfferDetails"/>
                 
				<exclude name="TryXero" />
			</methods>
			</class>
    </classes>
  </test> <!-- Test -->
<test name="Test2">
<parameter name="browser" value="Safari"/>
  <classes>
    <class name="test.java.XeroTests">
      <methods>             
                <include name="LoginToXero"/>
       </methods>
</class>
</classes>
</test>
 
</suite> <!-- Suite -->