<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <classes>
      <class name="test.java.XeroTests">
      <methods>
               
                <include name="LoginToXeroIncorrectUN"/>
                <include name="LoginToXeroLogout"/>
                <include name="LoginToXero"/>
                <include name="LoginToXeroForgotPw"/>
                <include name="LoginToXeroIncorrectPW"/>
                
                <include name="TryXeroAllEmpty"/>
				
				<exclude name="TryXero" />
			</methods>
			</class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
