
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="3" name="Suite" parallel="none">
  <test name="Test1">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="test.java.XeroTests">
      <methods>
               <include name="CheckXero"/>
              
                
				<exclude name="TryXero" />
			</methods>
			</class>
    </classes>
  </test> <!-- Test -->
<test name="Test2">
<parameter name="browser" value="Safari"/>
  <classes>
    <class name="test.java.XeroTests">
      <methods>             
             <include name="LoginToXeroIncorrectUN"/>
       </methods>
</class>
</classes>
</test>
 
</suite> <!-- Suite -->